:root {
  font-family: 'Roboto', sans-serif;
}

.background {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-tertiary);
  display: grid;
  grid-template-areas:
    "header header header header header header"
    ". content content content content ."
    ". content content content content ."
    "footer footer footer footer footer footer";
}

// Login
.card-layout{
  grid-area: content;
  height: 100%;
}
